
/* tablet */
@media (min-width: 768px) and (max-width: 991.98px) { 
    

    .logo-container img{
        margin-left: 20px;
    }

    .side-container {
        margin-right: 20px;
    }

    .search {
        margin-bottom: 10px;
    }

    .laptop {
        display: none;
    }

    .main-item-1 {
        height: 500px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .main-item-2 {
        height: 500px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .main-item-3 {
        height: 500px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .sliderbox {
        animation-duration: 12s;
    }

    @keyframes Jamal {
        from{ left: 0px;}
        to{left: -850px;}
    }

    .item-update {
        padding: 2rem 0 4rem 0;
    }

    .main-item-11 {
        height: 500px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .main-item-12 {
        height: 500px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .main-item-13 {
        height: 500px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        
    }

    .sliderbox img {
        float: left;
        background-color: violet;
        height: 400px;
    }

    .sliderbox-1 img {
        float: left;
        background-color: whitesmoke;
        height: 400px;
    }

    .mobileonly, .laptop{
        display: none;
    }

    .tablet {
        display: block;
    }

    .tablet-laptop h5 {
        color: black;
        padding-left: 25px; 
    }

    .tablet-laptop p {
        color: #333;
        text-align: left;
        padding-left: 25px; 
    }


    .shop-item-1, .shop-item-2, .shop-item-3, .shop-item-4, .shop-item-5, .shop-item-6, 
    .shop-item-7, .shop-item-8, .shop-item-9, .shop-item-10, .shop-item-11, .shop-item-12 {
        height: 500px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        
        
    }

    .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }

    .sticky p {
        color: #333;
        padding-left: 10px;
        text-align: left;
        
    }

    .sticky h5 {
        color: black;
        padding-left: 10px;
        text-align: left;
    }

}

/* laptop */

@media (min-width: 992px) {
   
    .mobileandtable {
        display: none;
    }

    .laptop {
        display: block;
    }

    .logo-container img{
        margin-left: 25px;
    }

    .menulist {
        margin-top: 25px;
        margin-left: -100px;
    }

    .menulist a{
        text-decoration: none;
        color: #333;
        font-weight: 400;
        font-size: 14px;
        padding-left: 1px;
        
    }

    .search-container {
        margin-top: 25px;
    }

    .side-container i{
        font-size: 20px;
        margin-left: 5px;
    }

    .mobileandtablet {
        display: none;
    }

    .laptop {
        display: block;
    }

    .main-item-1 {
        padding: 0;
        background-color: lightpink;
        background-image: url(/img/1.png);
        height: 460px;
        width: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        
    }

    .main-item-2 {
        padding: 0;
        background-color: lightslategrey;
        background-image: url(/img/2.png);
        height: 230px;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        
    }

    .main-item-3 {
        padding: 0;
        background-color: skyblue;
        background-image: url(/img/3.png);
        height: 230px;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .main-container.laptop h3 {
        
        color: white;
        margin-left: 20px;
        margin-top: 10px;
        
    }
    
    .main-container.laptop i {
        
        color: white;
        font-size: 16px;
       
    }
    
    .main-container.laptop p {
      
        color: white;
        font-weight: 400;
        font-size: 12px;
    }

    .row {
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
    }


    .outerbox {
        overflow: hidden;
    
    }
    .sliderbox {
        position: relative;
        width: 7500px;
        animation-name: Jamal;
        animation-duration: 60s;
        animation-iteration-count: infinite;
    
    }
    
    .sliderbox img {
        float: left;
        background-color: violet;
        height: 400px;
    }
    
    @keyframes Jamal {
        from{ left: 0px;}
        to{left: -3850px;}
    }
    
    .outerbox-1 {
        overflow: hidden;
    
    }
    .sliderbox-1 {
        position: relative;
        width: 7500px;
        animation-name: Jamal;
        animation-duration: 16s;
        animation-iteration-count: infinite;
    
    }

    
    .item-update {
        color: white;
        background-color: black;
        padding: 4rem 2rem;
        overflow: hidden;
    }

    .item-update h1{
        font-size: 30px;
        font-weight: 800;
        padding: 2rem;
    }

    .item-update p{
        font-size: 16px;
        font-weight: 400;
        padding: 2rem;
    }

    .item-update a{
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        color: whitesmoke;
        padding: 1rem 2rem;
    }

    .item-update i {
        font-size: 20px;
        margin-left: 10px;
        color: white;
    }

    
    .main-item-11 {
        padding: 0;
        background-color: lightpink;
        background-image: url(/img/11.png);
        height: 460px;
        width: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        
    }

    .main-item-12 {
        padding: 0;
        background-color: lightslategrey;
        background-image: url(/img/12.png);
        height: 230px;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        
    }

    .main-item-13 {
        padding: 0;
        background-color: skyblue;
        background-image: url(/img/13.png);
        height: 230px;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .main-container.laptop h3 {
        
        color: white;
        margin-left: 20px;
        margin-top: 10px;
        
    }
    
    .main-container.laptop i {
        
        color: white;
        font-size: 16px;
       
    }
    
    .main-container.laptop p {
      
        color: white;
        font-weight: 400;
        font-size: 12px;
    }

    .row {
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
    }




    
    .outerbox-1 {
        overflow: hidden;

    }
    .sliderbox-1 {
        position: relative;
        width: 7500px;
        animation-name: Jamal;
        animation-duration: 60s;
        animation-iteration-count: infinite;

    }

    .sliderbox-1 img {
        float: left;
        background-color: whitesmoke;
        height: 400px;
    }

    @keyframes Jamal {
        from{ left: 0px;}
        to{left: -3850px;}
    }

    .mobileonly, .tablet {
        display: none;
    }

    .laptop {
        display: block;
    }

    .shop-item-1, .shop-item-2, .shop-item-3, .shop-item-4, .shop-item-5, .shop-item-6, 
    .shop-item-7, .shop-item-8, .shop-item-9, .shop-item-10, .shop-item-11, .shop-item-12 {
    height: 300px;
    width: 260px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    }


    .sticky {
        padding-left: 25px;
    }
    
    .sticky h5{
        color: black
    }

    
    .shopAll h6 {
        padding: 1rem;
        color: white;
        background-color: #0D6EFD;
        text-align: center;
    }

    .shopAll i {
        padding: 1rem;
        font-size: 20px;
        margin-left: -30px;
        color: white;
        background-color: #0D6EFD;
    }

    .shoptext{
        padding: .5rem 1rem;
        font-size: 10px;
        font-weight: 500;
        background-color: #0D6EFD;
        color: white;
    }

    .sticky h5{
        color: black;
        text-align: left;
        padding-left: 15px;
        margin-bottom: 1rem;
    }

    .sticky p {
        font-weight: 400;
        text-align: left;
        color: #333;
    }

    .footer {
        padding: 1rem;
    }

    .footer .logo-container {
        width: 100px;
    }

    .footer li {
        margin-left: 100px;
        font-size: 12px;
        padding: 0;
        margin-top: .5rem;
    }

    .footer i {
        font-size: 16px;
        margin: 0;
        padding: 5px;
        padding-top: 2.5rem;
    }

    hr{
        width: 95%;
        margin: 0 auto;
        color: grey;
    }

}
